table.user_table {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
}
table.user_table th {
  width: 155px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: gray ;
}
table.user_table td {
  width: 155px;
  padding: 10px;
  vertical-align: top;
  color: black;
  border-bottom: 1px solid #ccc;
  background: white;
}
